Cindy's Stock vs. David's Stock

Cindy's Stock: NVDA

David's Stock

Kirsten's Stock vs. Marry's Stock

Kirsten's Stock: AVGX

Marry's Stock

In [15]:
# Import necessary libraries
import pandas as pd
import json
import os

In [21]:
# Define the file path to the JSON data
file_path = '../Data/mongo_stock_data.json'

In [23]:
# Load json
    with open(file_path, 'r') as file:
        stock_data = json.load(file)

File found! Loading data...

In [26]:
# Convert to DataFrame
nvda_avgx_df = pd.DataFrame(stock_data)

# Convert date column to datetime format
nvda_avgx_df['date'] = pd.to_datetime(nvda_avgx_df['date'])

# Filter for NVDA and AVGX since October 1, 2024
filtered_nvda_avgx_df = nvda_avgx_df[(nvda_avgx_df['symbol'].isin(['NVDA', 'AVGX'])) & (nvda_avgx_df['date'] >= '2024-10-01')]

In [29]:
filtered_nvda_avgx_df

       1. open   2. high    3. low  4. close  5. volume       date symbol
0     123.1000  125.0000  118.1000  124.6500  392925469 2025-01-30   NVDA
1     126.5000  126.8900  120.0500  123.7000  467120640 2025-01-29   NVDA
2     121.8100  129.0000  116.2500  128.9900  579666350 2025-01-28   NVDA
3     124.8000  128.4000  116.7000  118.4200  818830895 2025-01-27   NVDA
4     148.3700  148.9700  141.8800  142.6200  234657635 2025-01-24   NVDA
...        ...       ...       ...       ...        ...        ...    ...
6793   21.0100   21.8400   20.8347   21.1100     107583 2024-10-07   AVGX
6794   21.3900   21.5410   20.6600   21.4900     136250 2024-10-04   AVGX
6795   19.7400   21.0300   19.7200   20.4100      97225 2024-10-03   AVGX
6796   19.3700   20.5900   19.3700   20.1100     107955 2024-10-02   AVGX
6797   20.3800   20.4364   18.9700   19.3400     117553 2024-10-01   AVGX

[166 rows x 7 columns]

In [31]:
filtered_nvda_avgx_df.to_json('filtered_nvda_avgx.json', orient='records', indent=4)  # json save

In [ ]:
# Convert into separate data frames

In [35]:
# Define the file path to the JSON data
file_path = '../All_work/filtered_nvda_avgx.json'

In [36]:
# Open and load the JSON file into a Python dictionary
with open(file_path, 'r') as json_file:
    nvda_avgx_data = json.load(json_file)  # Load JSON data

In [37]:
# Convert the JSON data into a Pandas DataFrame
nvda_avgx_df = pd.DataFrame(nvda_avgx_data)

In [38]:
# Separate the data into two DataFrames: one for NVDA and one for AVGX
nvda_df = nvda_avgx_df[nvda_avgx_df['symbol'] == 'NVDA'].copy()
avgx_df = nvda_avgx_df[nvda_avgx_df['symbol'] == 'AVGX'].copy()

In [40]:
# Sort both DataFrames by date to ensure chronological order
nvda_df = nvda_df.sort_values(by='date')
avgx_df = avgx_df.sort_values(by='date')

In [42]:
# Display the first few rows of each DataFrame to verify the data separation
print("NVDA Data:")
print(nvda_df.head())  # Print the first few rows of the NVDA dataset

print("\nAVGX Data:")
print(avgx_df.head())  # Print the first few rows of the AVGX dataset

NVDA Data:
     1. open   2. high    3. low  4. close  5. volume           date symbol
82  121.7650  122.4351  115.7900  117.0000  302094485  1727740800000   NVDA
81  116.4400  119.3800  115.1400  118.8500  221845887  1727827200000   NVDA
80  120.9200  124.3600  120.3401  122.8500  277117973  1727913600000   NVDA
79  124.9400  125.0400  121.8300  124.9200  244465552  1728000000000   NVDA
78  124.9900  130.6400  124.9500  127.7200  346250233  1728259200000   NVDA

AVGX Data:
     1. open  2. high   3. low 4. close 5. volume           date symbol
165  20.3800  20.4364  18.9700  19.3400    117553  1727740800000   AVGX
164  19.3700  20.5900  19.3700  20.1100    107955  1727827200000   AVGX
163  19.7400  21.0300  19.7200  20.4100     97225  1727913600000   AVGX
162  21.3900  21.5410  20.6600  21.4900    136250  1728000000000   AVGX
161  21.0100  21.8400  20.8347  21.1100    107583  1728259200000   AVGX